*{
	margin:0;
	padding:0;
	box-sizing:border-box;
}
.containerfooter{
	width:100%;
	display:flex;
	justify-content: flex-end;
}
.containerfooter__section{
	width:60%;
	height:60vh;
	display:flex;
	background-color:#00C733; 
}
.containerfooter__h1{
	text-align:left;
	padding-top:20px;
	font-size:25px;
	color:yellow;
}
 .paragrafo{
 	color:white;
 	text-align:left;
	padding-top:20px;
 }
.containerfooter__div{
	width:30%;
	height:50vh;
	margin-left:50px;
	margin-top:40px;
}
.containerfooter__divimagemcriança{
	width:320px;
	height:240px;
	border-radius:7%;
	margin-top:12px;
	background-position:center;
	/*margin-left:200px;*/
}
.containerfooter__divimg{
	width:44%;
	height:45vh;
	display:flex;
	justify-content:center;
	margin-left:100px;
	margin-top:50px;
	border-radius:7%;
	background-color:white;
} 
img{
	width:30px;
	height:30px;
	margin-top:355px
}